
@font-face {
    font-family: 'VividSans Regular';
    src: url('VividSans-Regular.otf');
}
body{
    font-size: 20px;
    font-family: 'VividSans Regular';
}
.navigation{
    display: flex; 
    justify-content: space-around; 
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 90px;
}
.nav{
    display: flex;
    justify-content: space-around;
}
.bc_navigation{
    width: 100%;
    background-color: black;
}
.header{
    background-image: url('img/красная_панда_затемненная.png');
    background-position: center;
    position: absolute;
    width: 100%;
    background-color: black;
    background-size: cover;
    background-position: center;
    z-index: 2;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.text_for_head{
    color: white;
    font-size: 270%;
    text-align: center;
}
.text_under_head{
    color: white;
    font-size: 150%;
    text-align: center;
}
.time{
    color: white;
    font-size: 120%;
    text-align: center;
}
.load-more {
	display: block;
	cursor: pointer;
    width: 40px;
    height: 40px; 
    margin-left: 32px; 
}
.load-more:before{
		display: block;
		content: '';
		width: 30px; 
        height: 30px;
		border-width: 2px;
		border-style: solid;
		border-color: transparent;
		border-bottom-color: #fff;
		border-right-color: #fff;
		border-radius: 0 0 5px 0;

		transform: translate(-50%, -50%) rotate(45deg);

		transition: all .4s ease-in-out;
	}
	.load-more.active:before {
		border-radius: 50%;
		animation:
			.8s rotate .4s linear forwards infinite;
	}
		@keyframes rotate {
			to {
				transform: translate(-50%, -50%) rotate(405deg);
			}
		}
		@keyframes rotate2 {
			to {
				transform: translate(-50%, -50%) rotate(-315deg);
			}
		}
	.load-more.disabled:before{
		transform: translate(-50%, -50%) rotate(135deg) rotateY(180deg);
	}
