
@font-face {
    font-family: 'VividSans Regular';
    src: url('VividSans-Regular.otf');
}
body{
    font-size: 20px;
    font-family: 'VividSans Regular';
}
.navigation{
    display: flex; 
    justify-content: space-around; 
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 90px;
}
.nav{
    display: flex;
    justify-content: space-around;
}
.bc_navigation{
    width: 100%;
    background-color: black;
}
.header{
    background-image: url('img/красная_панда_затемненная.png');
    background-position: center;
    width: 100%;
    background-color: black;
    background-size: cover;
    background-position: center;
    z-index: 2;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.text_for_head{
    color: white;
    font-size: 270%;
    text-align: center;
}
.text_under_head{
    color: white;
    font-size: 150%;
    text-align: center;
}
.time{
    color: white;
    font-size: 120%;
    text-align: center;
}
.load-more {
	display: block;
	cursor: pointer;
    width: 40px;
    height: 40px; 
    margin-left: 32px; 
}
.load-more:before{
		display: block;
		content: '';
		width: 30px; 
        height: 30px;
		border-width: 2px;
		border-style: solid;
		border-color: transparent;
		border-bottom-color: #fff;  
		border-right-color: #fff;
		border-radius: 0 0 5px 0;
		transform: translate(-50%, -50%) rotate(45deg);
		transition: all .4s ease-in-out;
	}
	.load-more.active:before {
		border-radius: 50%;
		animation:
			.3s rotate .3s linear forwards infinite;
	}
		@keyframes rotate {
			to {
				transform: translate(-50%, -50%) rotate(360deg);
			}
		}
		@keyframes rotate2 {
			to {
				transform: translate(-50%, -50%) rotate(-315deg);
			}
		}
	.load-more.disabled:before{
		transform: translate(-50%, -50%) rotate(135deg) rotateY(180deg);
	}
.o_clube{
        background-color: white;
        width: 99%;
        margin-top: 7%;
        margin-bottom: 7%;
    }
.o_clube h1{
        text-align: center;
    }
.o_clube p{
        font-size: 23px;
        margin-left: 10px;
        margin-right: 10px;
        text-align: justify;
    }
.dostijenia{
    background-color: white;
        width: 99%;
        margin-bottom: 7%;
}
.dostijenia h1{
    text-align: center;
}
.dostijenia p{
    font-size: 23px;
        margin-left: 10px;
        margin-right: 10px;
        text-align: justify;
}

.img_dost{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.img_dost p{
    text-align: center;
}
.nav a:hover{
    text-decoration: underline;
}
.raspisanie h1{
    text-align: center;
    display: block;
}
.trenera {
    display: flex;
    justify-content: center;
}
.icon{
    display: none;
    justify-content: right;
    align-items: center;
    position: fixed;
    padding-right: 5px;
}
@media screen and (max-width:1200px){
    .icon{
    display: none;
    justify-content: right;
    position: fixed;
    padding-right: 5px;
    }
}
body {
    overflow-x: hidden;
}
.modalBackground {
    display: none;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    width: 100%;
    height: 100%;
    cursor: pointer;
    /* указываем z-индекс для корректного наслаивания */
    z-index: 1;
}
.modalActive {
    position: absolute;
    width: 350px;
    height: 495px;
    top: calc(50% - 250px);
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    cursor: default;
    padding: 40px 20px;
}
.modalClose {
    font-family: var(--font-regular);
    position: absolute;
    right: 5px;
    top: 5px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

/* сама картинка кнопочки закрытия */
.modalClose img {
    margin: 3px;
    width: 24px;
    height: 24px;
}
.modalWindow {
    position: relative;
}
.modalBackground2 {
    display: none;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    width: 100%;
    height: 100%;
    cursor: pointer;
    /* указываем z-индекс для корректного наслаивания */
    z-index: 1;
}
.modalActive2 {
    position: absolute;
    width: 350px;
    height: 495px;
    top: calc(50% - 250px);
    left: calc(50% - 175px);
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    cursor: default;
    padding: 40px 20px;
}
.modalClose2 {
    font-family: var(--font-regular);
    position: absolute;
    right: 5px;
    top: 5px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

/* сама картинка кнопочки закрытия */
.modalClose2 img {
    margin: 3px;
    width: 24px;
    height: 24px;
}
.modalWindow2 {
    position: relative;
}
.img_str{
    width: 50%;
    height: 50%;
}
